@import url("https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ffffff;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}

h1 {
  font-family: "Bitter", serif;
}

h2 {
  font-family: "Bitter", serif;
}

.circular-gradient {
  background: radial-gradient(
    circle,
    #f5dca6 0%,
    #a6b7d6 40%,
    #9f788b 70%,
    #c38b7d 100%
  );
}
